body {
    font-family: "Open Sans", sans-serif;
    background-color: #F9FBFD;
}

* {
    box-sizing: border-box;
}

body, h1, h2 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:15;
  align-items: center;
  border: 1px solid black;
}

section .box-products {
  width: 500px;
  border: 1px solid blue;
}

form {
  margin: 10 0;
}
