body {
    font-family: "Open Sans", sans-serif;
    background-color: #F9FBFD;
}

* {
    box-sizing: border-box;
}

body, h1, h2 {
    margin: 0;
    color: #264653
}

h1 {
  font-size: 30px;
  color:#E76F51;
}

h2 {
  font-size: 24px;
  color: #F4A261
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:15;
  align-items: center;
}

.box-products {
  width: 500px;
  text-align: center
}

form {
  margin: 15 0;
}

input[type=text] {
  height: 30px;
}

button {
  width: 100px;
  height: 30px;
}

.shopping-button {
  height: 20px;
  width: 50px;

}
