body {
    font-family: "Open Sans", sans-serif;
    background-color: #F9FBFD;
}

* {
    box-sizing: border-box;
}

body, h1, h2 {
    margin: 0;
}

h1 {
  font-size: 30px;
  color: rgb(167, 105, 28);
}

h2 {
  font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:15;
  align-items: center;
  border: 1px solid black;
}

.box-products {
  width: 500px;
  border: 1px solid blue;
  text-align: center
}

form {
  margin: 15 0;
}

input[type]=text
